/* esercizio 1 */
.ex-1-square:hover {
  background-color: red;
}
.ex-1-square {
  transition: all 3s;
}

/* esercizion 2 */

.ex-2-square {
  transition: 2s;
}
.ex-2-square:active {
  width: 15.625rem;
}

/* esercizio 3 */

.ex-3-square {
  transition-duration: 3s;
}
.ex-3-square:hover {
  border-radius: 50%;
}
/* esercizio 4 */

.ex-4-square {
  animation: scompare;
  animation-duration: 4s;
}
@keyframes scompare {
  from {
    width: 100px;
    height: 100px;
  }
  to {
    width: 0;
    height: 0;
  }
}
/* esrcizio 5 */

.ex-5-square {
  transition: 2s;
}
.ex-5-square:hover {
  width: 9.375rem;
  height: 9.375rem;
}
.ex-5-square:active {
  width: 6.25rem;
  height: 6.25rem;
}
/* esercizio 6 */

.ex-6-img:hover {
  filter: grayscale(100%);
}
